mixin parrafos(arrTextos)
  each texto in arrTextos
    p= texto
  else
    p El array no tiene elementos

mixin lista(pLista)
  ul
    each item in pLista
      li= item
    else
      li La lista no tiene elementos

doctype html
html
  head
    title= title

    //- Incluimos bootstrap
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    
    //- Incluimos las hojas de estilos
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_navBar.css')
    
  body
    include includes/navBar.pug
    block content
    footer
      block piepagina
